li#output
    a.category(href="#output") Output
    ul
        li(draggable="true")
            .name Plain text
            .calories
                .form-group
                    label Output
                    input.form-control(type="text")